html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.top-navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99999; }

.top-navigation > .content {
  width: 80%;
  padding: 0;
  margin: 0 auto; }

.top-navigation .links {
  float: right;
  color: #838994;
  font-size: 1em;
  margin-top: 1.2em;
  padding-left: 0;
  -webkit-font-smoothing: antialiased;
  transition: color 1s linear; }

.top-navigation .links li {
  display: inline-block;
  margin-left: .8em; }

.top-navigation .links a {
  text-decoration: none;
  color: #838994; }

.top-navigation .links .active {
  color: #4c5058;
  margin-left: 0;
  font-weight: 500; }

.top-navigation .links li:hover, .top-navigation .links a:hover {
  cursor: pointer;
  color: #333333; }

.column {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20em; }

.column.half.first {
  background-color: #A79C8E; }

.column.half.second {
  background-color: #F8ECC9; }

.column.third.first {
  background-color: #F1BBBA; }

.column.third.second {
  background-color: #6B5344; }

.column.third.last {
  background-color: #EB9F9F; }

.column.third.fourth {
  background-color: #A79C8E; }

.column.third.fifth {
  background-color: #F8ECC9; }

.column.third.sixth {
  background-color: #F1BBBA; }

.intro {
  font-family: 'Yeseva One', cursive;
  font-size: 1.5em;
  color: #000;
  text-align: center;
  position: relative;
  padding: 0 1em;
  top: 50%;
  transform: translateY(-50%); }

.main .container {
  padding-top: 1em; }

.social .container {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 100px;
  height: auto;
  text-align: center; }

hr {
  margin-top: 5em;
  border-top: .1em solid #eaebec; }

.icons {
  list-style-type: none;
  padding: 0; }

.icons > li {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border: .1em solid #eaebec;
  border-radius: 1.25em;
  text-align: center;
  padding: 0.525em 0;
  margin: 0 .5em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.icons > li:hover, .icons > li:focus, .icons > li:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

.fa {
  color: #6B5344; }

.copy {
  font-size: .8em;
  font-weight: 300;
  color: #838994; }

img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 15%; }

@media (min-width: 40em) and (max-width: 60em) {
  .top-navigation > .content {
    padding: 0 1em; }

  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    overflow: visible; }

  .column.half {
    width: 50%;
    height: 20em; }

  .column.half.first:after {
    z-index: 1;
    background-color: #A79C8E;
    content: "";
    width: 4em;
    height: 4em;
    position: absolute;
    top: 45%;
    left: 90%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.half.second:after {
    z-index: 1;
    background-color: #F8ECC9;
    content: "";
    width: 4em;
    height: 4em;
    position: absolute;
    top: 87%;
    left: 75%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third.first:after {
    z-index: 1;
    background-color: #F1BBBA;
    content: "";
    width: 4em;
    height: 4em;
    position: absolute;
    top: -10%;
    left: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third.first:before {
    z-index: 1;
    background-color: #F1BBBA;
    content: "";
    width: 4em;
    height: 4em;
    position: absolute;
    top: 85%;
    left: 60%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third.last:after {
    z-index: 1;
    background-color: #6B5344;
    content: "";
    width: 4em;
    height: 4em;
    position: absolute;
    top: 85%;
    left: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third.fifth:after {
    z-index: 1;
    background-color: #F8ECC9;
    content: "";
    width: 4em;
    height: 4em;
    position: absolute;
    top: -11%;
    left: 60%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third {
    width: 33.33%;
    height: 15em; }

  .intro {
    font-size: 1.8em;
    padding: 0 1em; }

  img {
    padding: 3%; } }
@media (min-width: 60em) {
  .top-navigation > .content {
    padding: 0 1em; }

  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    overflow: visible; }

  .column.half.first:after {
    z-index: 1;
    background-color: #A79C8E;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: 45%;
    left: 96%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.half.second:after {
    z-index: 1;
    background-color: #F8ECC9;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: 90%;
    left: 75%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third.first:after {
    z-index: 1;
    background-color: #F1BBBA;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: -11%;
    left: 10%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third.first:before {
    z-index: 1;
    background-color: #F1BBBA;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: 91%;
    left: 70%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third.last:after {
    z-index: 1;
    background-color: #6B5344;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: 91%;
    left: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.third.fifth:after {
    z-index: 1;
    background-color: #F8ECC9;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: -11%;
    left: 70%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

  .column.half {
    width: 50%;
    height: 20em; }

  .column.third {
    width: 33.33%;
    height: 25em; }

  .intro {
    font-size: 1.8em;
    padding: 0 1em; }

  img {
    padding: 10%; } }

/*# sourceMappingURL=style.css.map */
