html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.top-navigation {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.top-navigation > .content {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.top-navigation .links {
  float: right;
  color: #838994;
  font-size: 1em;
  margin-top: 1.2em;
  padding-left: 0;
  -webkit-font-smoothing: antialiased;
  transition: color 1s linear;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: .8em;
}

.top-navigation .links a {
  text-decoration: none;
  color: #838994;
}

.top-navigation .links .active {
  color: #4c5058;
  margin-left: 0;
  font-weight: 500;
}

.top-navigation .links li:hover, .top-navigation .links a:hover {
  cursor: pointer;
  color: #333333;
}

.intro {
  width: 90%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 8em;
  font-size: 1em;
  letter-spacing: -0.01em;
  line-height: 1.5em;
  color: #000;
}

.column {
  position: relative;
  overflow: hidden;
  
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  
  width: 100%;
  height: 20em;
}

.column.half.first {
  background-color: #A5FC92;
}

.column.half.second {
  background-color: #8AF7CF;
}

.column.third.first {
  background-color: #6AE89A;
}

.column.third.second {
  background-color: #fbfbf2;
}

.column.third.last {
  background-color: #7CFF92;
}

.column.third.fourth {
  background-color: #8AF7CF;
}

.column.third.fifth {
  background-color: #A5FC92;
}

.column.third.sixth {
  background-color: #6AF7D4;
}

.main .container {
  position: relative;
  top: 14em;
}
.column.third.second {
  display: none;
}
.social .container {
  width: 50%;
  text-align: center;
  position: relative;
  top: 19em;
  margin: 0 auto;
  padding-bottom: 100px;
  height: auto;
}

hr {
  margin-top: 5em;
  border-top: .1em solid #eaebec;
}

.icons {
  list-style-type: none;
  padding: 0;
}

.icons > li {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border: .1em solid #eaebec;
  border-radius: 1.25em;
  text-align: center;
  padding: 0.525em 0;
  margin: 0 .5em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.icons > li:hover, .icons > li:focus, .icons > li:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.fa {
  color: #8FEAB3;
}

.copy {
  font-size: .8em;
  font-weight: 300;
  color: #838994;
}

img {
  width: 100%;
  padding: 15%;
}

.img_cryptoveil {
  position: relative;
  left: 12%;
  width: 76%;
}

@media (min-width: 50em) and (max-width: 80em) {
  .top-navigation > .content {
    padding: 0 1em;
  }
  .intro {
    width: 60%;
    position: relative;
    top: 10em;
    margin: 0 auto;
    letter-spacing: -0.02em;
    line-height: normal;
    font-size: 1.3em;
  }
  .main .container {
    width: 60%;
    position: relative;
    top: 22em;
    margin: 0 auto;
  }
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    overflow: visible;
  }
  .column.half { 
    width: 50%;
    height: 20em;
  }
  .column.half.first:after {
    z-index: 1;
    background-color: #A5FC92;
    content: "";
    width: 3em;
    height: 3em;
    position: absolute;
    top: 45%;
    left: 95%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .column.half.second:after {
    z-index: 1;
    background-color: #8AF7CF;
    content: "";
    width: 3em;
    height: 3em;
    position: absolute;
    top: 93%;
    left: 75%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .column.third.first:after {
    z-index: 1;
    background-color: #6AE89A;
    content: "";
    width: 3em;
    height: 3em;
    position: absolute;
    top: -11%;
    left: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .column.third.first:before {
    z-index: 1;
    background-color: #8AF7CF;
    content: "";
    width: 3em;
    height: 3em;
    position: absolute;
    top: 88%;
    left: 60%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }    
  .column.third.second {
    display: initial;
  }
  .column.third.last:after {
    z-index: 1;
    background-color: #7CFF92;
    content: "";
    width: 3em;
    height: 3em;
    position: absolute;
    top: 91%;
    left: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .column.third { 
    width: 33.33%;
    height: 15em;
  }
  img {
    padding: 3%;
  }
  .img_cryptoveil {
    left: 30%;
    width: 40%;
  }
  .social .container {
    position: relative;
    top: 30em;
  }
}

@media (min-width: 80em) {
  .top-navigation > .content {
    padding: 0 1em;
  }
  .intro {
    margin: 0 auto;
    width: 60%;
    line-height: 1.5em;
    position: relative;
    top: 10em;
    font-size: 1.3em;
    text-align: center;
  }
  .main .container {
    width: 56%;
    position: relative;
    top: 22em;
    margin: 0 auto;
  }
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    overflow: visible;
  }
  .column.half img {
    padding: 7em;
  }
  .column.half.first:after {
    z-index: 1;
    background-color: #A5FC92;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: 45%;
    left: 96%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  } 
  .column.half.second:after {
    z-index: 1;
    background-color: #8AF7CF;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: 90%;
    left: 75%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .column.third.first:after {
    z-index: 1;
    background-color: #6AE89A;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: -11%;
    left: 10%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .column.third.first:before {
    z-index: 1;
    background-color: #8AF7CF;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: 91%;
    left: 70%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .column.third.second {
    display: initial;
  }
  .column.third.last:after {
    z-index: 1;
    background-color: #7CFF92;
    content: "";
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: 91%;
    left: 20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .column.half { 
    width: 50%;
    height: 20em;
  } 
  .column.third { 
    width: 33.33%;
    height: 25em;
  }
  img {
    padding: 10%;
  }
  .img_cryptoveil {
    left: 10%;
    width: 80%;
  }
  .social .container {
    position: relative;
    top: 30em;
  }
}